html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 330px;
  margin: auto;
  margin-top: 10px;
  padding: 10px 10px;
  color: black;
}

.bgContainer {
  display: flex;
  justify-content: center;
}

.person {
  width: 330px;
  background: rgba(233, 233, 233);
  border: 2px solid rgba(231, 231, 231);
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  border-radius: 50%;
  border: 3px solid gray;
}

.userPhoto,
.personGoingPic,
.personNotGoingPic {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
}

.actualInfo,
.goingInfo {
  border-top: 1px solid rgba(225, 225, 225);
  padding: 10px 10px;
  line-height: 40px;
}

.buttonAnswer {
  width: 100%;
  border-top: 1px solid rgba(225, 225, 225);
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
}

.yes {
  width: 50px;
  height: 30px;
  color: white;
  background: green;
  outline: none;
  font-size: 20px;
}

.no {
  width: 50px;
  height: 30px;
  color: white;
  background: red;
  outline: none;
  font-size: 20px;
}

.attending {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loading {
  display: flex;
  justify-content: center;
}

.goingTitle,
.notGoingTitle {
  display: flex;
  justify-content: center;
}
